* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

/* ---- NAVBAR ---- */
.navbar {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    width: 90%;
    max-width: 1200px;

    background: #ffffffcc; /* blanc translucide */
    backdrop-filter: blur(10px);

    padding: 15px 25px;
    margin-top: 15px;

    border-radius: 30px;

    display: fixed;
    justify-content: space-between;
    align-items: center;

    box-shadow: 0 4px 20px rgba(0,0,0,0.08);

    z-index: 1000;
}

.nav-logo {
    font-size: 1.5rem;
    font-weight: 700;
}

.nav-links {
    display: flex;
    gap: 30px;
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: #222;
    font-size: 1rem;
    padding: 8px 18px;
    border-radius: 20px;
    transition: 0.25s;
}

.nav-links a:hover {
    background: #f0f0f0;
}

/* ---- SECTIONS ---- */
.section {
    width: 100%;
    align-items: center;
    margin: 35px;
    

    background-color: #00FF00;

    padding: 50px;

    box-shadow: 0 4px 20px rgba(0,0,0,0.05);
}

.section h2 {
    margin-bottom: 15px;
    font-size: 2rem;
}

.section p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #444;
}
